html{
overflow-x: hidden;
}
h1, h2, h3, h4{
  font-family: 'Playfair Display', serif !important;
}
p, li{
  font-family: 'Open Sans Condensed', sans-serif;
}
ul{
  font-family: 'Playfair Display', serif !important;
  list-style-type: none;
}
/* navbar */
#mainTattooNavbar {
  padding: 4% 15% ;
}
.navButton{
margin:0 3%;
text-align: right;
font-size: 1rem !important;
}
/* jumbotron styling */
.jumbotron {
  z-index: 1;
  text-align: center;
  opacity: 80%;
}
/* featurette styling */
.featurette{
  margin: 8vh 0 8vh ;
  padding: 0 15% 0 15%;
}
/* covid banner */
.covidBanner{
  margin: 5% 0;
  padding: 2% 5%;
  text-align: center;
  height:10%;
  background-color: red;
  box-shadow: 10px 5px 5px grey;
}
/* second implement styling */
.mainTattooRow{
  padding: 2% 15% 5%;
}
.tattooGunImg{
  width:125%;
}
/* featurette styling */
.featurette img{
    box-shadow: 10px 5px 5px grey;
}
.btn-link{
  color:black !important;
  text-decoration-style: solid;
}
/*tattoo testimonial styling */
#testimonials {
  text-align: center;
  background-color: #fff;
  color:black;
}
.testimonialImg{
  width:10%;
  border-radius: 100%;
  margin:20px;
}
.carousel{
  height:50vh !important;
}
.carousel-item{
  height:10%;
  padding: 7% 15%;
}
/* footer */
footer{
padding: 1%;
}
footer h3{
  line-height: 2;
}
.mapboxgl-canvas-container {

    height: 20vh;

}
/* icon styling */
.fa-phone{
  color:black;
  font-size: 40px;
}
.fa-viruses{
  font-size: 50px;
}
.fab{
  padding: 5% 5%;
  width:50px;
  font-size: 50px;
}
/* mobile rules */
@media only screen and (max-width: 600px) {
  .wrapper{
    overflow-x: hidden;
  }
  #mainTattooNavbar{
    padding: 0;
  }
  /* logo mobile styling */
  #logo{
    width:50px;
    height:50px;
  }
  /* lander */
  .mainTattooRow{
    padding: 10% 5%;
  }
  .tattooTextContainer{
    text-align:center;
  }
  .tattooGunImg{
    margin-top: 10%;
  }
  #mainQuoteTattoo{
    font-size: 1.25rem !important;
  }

  /* jumbotron mobile styling */
  .jumbotron{
    margin-bottom: 5rem !important;
  }
  .display-4{
    font-size: 1.5rem !important;
  }
  /* button mobile styling */
  .btn-lg{
    font-size:.75rem !important;
  }
  .featurette-image{
    margin: 5% 0;
  }
  /* covid banner mobile styling */
  .covidBanner{
    margin: 25% 0 10%;;
    padding: 2% 5%;
    text-align: center;
    height:10%;
    background-color: red;
  }
  /* testimonial mobile styling */
  .carousel{
    height:40vh !important;
  }
  .testimonial-text{
    font-size: 4vw;
  }
  /* icon mobile styling */
  br{
    display:none;
  }
  .fa-phone{
    color:black;
    font-size: 20px;
  }
  .fab{
    width:25px;
    font-size: 25px;
  }
}
@media only screen and (min-width:601px) and (max-width: 1000px) {
.covidBanner{
  margin:20% 0 10%;
}
.carousel{
  height:45vh !important;
}
.testimonial-text{
  font-size: 3vw;
}
}
@media only screen and (min-width:1000px) and (max-width: 1600px) {
.covidBanner{
  margin:12% 0 10%;
}
}
