/* jumbotron styling */
.jumbotron {
  z-index: 1;
  text-align: center;
  position: absolute;
  left: auto;
  right: auto;
  top: 40%;
  opacity: 80%;
}

/* carousel styling */
.carousel {
  height: 90vh;
}

.carousel-item {
  height: 50%;
}

.caroImg {
  height: 900px;
  width: 100%;
}
